:root{
  --c-background: #fff;
  --c-text: #21243D;
}

.button{
  border-radius: 2px;
  background: #FF6464;
  padding: 10px 20px;
  color: var(--c-background);
  border: none;
  max-width: 208px;
  font-size: 20px;
}

.heading{
  font-weight: 700;
  color: var(--c-text);
  font-style: normal;
  margin: 0;
}

.paragraph{
  font-weight: 400;
  font-style: normal;
  line-height: normal;
  color: var(--c-text);
}
p {
  margin-block-start: 0;
}
section{
  padding: 0 148px;
}

body {
  font-family: 'Heebo';
  font-size: 16px;
  line-height: 1.4;
  background: #FFF;
  font-weight: 400;
  margin: auto;
  align-content: center;
}

.header{
  display: flex;
  flex-direction: row;
  gap: 32px;
  flex-wrap: wrap;
  justify-content: flex-end;
  padding-right: 60px;
  padding-top: 27px;
  padding-bottom: 140px;
}

.hero{
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 106px;
  padding-bottom: 70px;
  justify-content: center;
}

.hero__text-wrapper{
  display: flex;
  flex-direction: column;
  gap: 40px;
  max-width: 100%;
}

.hero__heading{
  font-size: 44px;
}

.hero__img-wrapper{
  max-width: 100%;
  height: auto;
  flex: 0 0 auto;
}

.hero__img{
  object-fit: cover;
  height: auto;
}

.recent{
  background-image: url(/assets/images/background-img.png);
  object-fit: cover;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
}
.recent__header{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.recent__header p{
  color: #00A8CC;
}

.recent__heading{
  color: var(--c-background);
  font-size: 22px;
  display: flex;
  padding: 20px 0;
}

.recent__posts{
  display: flex;
  flex-direction: row;
  padding-bottom: 32px;
  gap: 20px;
}

.posts__wrapper{
  display: flex;
  flex-direction: column;
  background-color: var(--c-background);
  padding-top: 24px;
  padding-left: 24px;
  padding-right: 21px;
  padding-bottom: 20px;
  gap: 15px;
}

.posts__heading{
  font-size: 26px;
}

.posts__paragraph{
  font-size: 18px;
}

.posts__paragraph span{
  margin-right: 25px;
}

.featured{
  display: flex;
  flex-direction: column;
  padding-bottom: 80px;
}

.featured__heading{
  padding: 40px 0;
}

.featured__post-wrapper{
  display: flex;
  flex-direction: row;
  gap: 18px;
}

.post__image{
  border-radius: 6px;
  max-width: 246px;
  height: 100%;
}

.post__text-wrapper{
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.post__year{
  display: flex;
  flex-direction: row;
  gap: 26px;
}

.year__background{
  width: 62px;
  height: 25px;
  background-color: #142850;
  border-radius: 16px;
  color: var(--c-background);
  text-align: center;
  font-size: 18px;
}

.featured__divider{
  display: flex;
  width: 100%;
  height: 1px;
  color: var(--c-background);
  background-color: #E0E0E0;
  margin-top: 15px;
  margin-bottom: 30px;
}

.footer{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 0;
  gap: 25px;
}

.footer__icons{
  display: flex;
  flex-direction: row;
  gap: 35px;
}

@media (max-width: 426px) {
  section{
    padding: 0 20px;
  }

  .header{
    padding-bottom: 45px;
    padding-right: 18px;
    padding-top: 20px;
  }

  .hero{
    justify-content: center;
    flex-wrap: wrap;
    gap: 40px;
  }

  .hero__text-wrapper{
    order: 2;
  }

  .hero__heading{
    font-size: 32px;
    text-align: center;
  }

  .paragraph{
    text-align: center;
  }

  .button{
    align-self: center;
  }

  .hero__img-wrapper{
    order: 1;
  }

  .recent__posts{
    flex-wrap: wrap;
  }

  .recent__heading{
    justify-content: center;
  }

  .recent__header{
    display: block;
  }

  .post__image{
    width: 100%;
    max-width: none;
  }

  .recent__header p{
    display: none;
  }

  .featured{
    padding-bottom: 20px;
  }

  .featured__heading{
    display: block;
    text-align: center;
  }
  .featured__post-wrapper{
    flex-direction: column;
    align-items: center;
    align-self: stretch;
    flex-wrap: wrap;
  }

  .footer{
    padding: 20px 0;
  }
}